.App {
  text-align: center;
}

.card-body {
  display: grid;
  grid-template-columns: 20% auto;
  grid-template-areas: "main aside";
  grid-gap: 50px;
}

.item-list-view {
  text-align: left;
}

aside {
  grid-area: aside;
  text-align: left;
}

main {
  grid-area: main;
}

.btn {
  border: none;
  padding: 15px 32px; 
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.button:disabled {
  opacity: 0.5;
}

